idea/
.tox
.git
.gitignore
.bandit
.dockerignore
Dockerfile
Jenkinsfile
README.md
htmlcov/
pipelines/
reports/
sonar-project.properties
*egg*
**/__pycache__
**/.DS_Store
.vscode
results/**
reports/**
htmlcov/**
.coverage*
**pytest_cache/
.venv/
.ruff_cache/