.pydevproject
.project
.DS_Store

.idea/**
**/config.yml

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.vscode
dist/
eggs/
.eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.pytest_cache/
reports/**
results.xml
.venv
.ruff_cache/
.env
